@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    background-color: #e1f4f5;
    transition: 2s ease ;
    transition-property: background-color, color;
}
a{
    text-decoration: none;
}
.container{
    min-height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300px;
    letter-spacing: .05rem;
}
.section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-align: center;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid rgb(68, 118, 226);
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 90px;
    transition: .5s ease ;
    transition-property: background-color, color;
}
.cta:hover {
    color: white;
    background-color: rgb(68, 118, 226);
}
.brand h1{
    font-size: 2rem;
    color: white;
    text-align: center;
}

:root{
    --mainColor: #29335C;
    --mainColorLight: #29455c;
    --secondaryColor: #DB2B39;
    --textColor: #eee;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: -var(--textColor);
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover{
    color: var(--secondaryColor);
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
}

@media only screen and (max-width: 1024px){
    header .nav-btn{
        visibility: visible;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
        flex-direction: column;
    }

    header .responsive-nav{
        transform: none;
    }
}

    

